services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: YvguonPmHWqdTtFZVGW1RQXHWDQX9xfhcLlroPhSzMQ=
      POSTGRES_DB: app
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: app
      DB_PASSWORD: YvguonPmHWqdTtFZVGW1RQXHWDQX9xfhcLlroPhSzMQ=
      DB_NAME: app
      DB_SSLMODE: disable
      APP_ADDR: :8080
    volumes:
      - ./:/app
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    image: node:20
    working_dir: /app/frontend
    command: sh -c "npm install && npm run dev"
    volumes:
      - ./:/app
    ports:
      - "5173:5173"

  nginx:
    image: nginx:1.27
    volumes:
      - ./nginx/dev.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    ports:
      - "8088:80"

volumes:
  db-data:
